# Disabling university files
learning__cst-ads-brazcubas/

# Disabling, for now, unity folder: Document names too long
learning__unity/

# Avoiding copyright violation
bookshelf/
learning__english/

# When upload University Center documents, set the excepcion here (like Class Roll, class slides and go on)